:host {
    display: block;
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-secondary {
    color: var(--fuse-text-secondary);
}

.hover\:text-primary:hover {
    color: var(--fuse-primary) !important;
}

.opacity-60 {
    opacity: 0.6;
}
