<div *ngIf="initOk" class="relative" [ngClass]="containerClass">

    <div *ngIf="isLoading"
        class="absolute inset-0 z-10 dark:bg-gray-900 flex flex-col bg-card transition-opacity duration-300 overflow-hidden">
        <div class="p-6 space-y-4">
            <div *ngFor="let _ of repeatSkeleton" class="animate-pulse h-8 bg-gray-200 dark:bg-gray-700 rounded w-full">
            </div>
        </div>
    </div>

    <div class="transition-opacity duration-300" style="padding-bottom: 74px;">

        <div class="relative w-full">

            <div *ngIf="canScrollLeft" class="scroll-shadow-zone left-zone" (mouseenter)="startScrolling('left')"
                (mouseleave)="stopScrolling()">
            </div>

            <div *ngIf="datasource?.data?.length > 0" #tableContainer (scroll)="checkScrollVisibility()"
                (window:resize)="checkScrollVisibility()"
                class="overflow-x-auto container-table dark:bg-transparent bg-white scroll-smooth">
                <mat-table matSort [dataSource]="datasource">

                    <ng-container *ngIf="hasGeneralActions()" [matColumnDef]="getGeneralActionsColumnName()">
                        <mat-header-cell *matHeaderCellDef class="print:hidden column-action-table"
                            [ngClass]="grid.actionHeaderClass">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="isAllSelected() || (statustable.selects.length === 10 && totalSize > 10)"
                                [indeterminate]="statustable.selects.length > 0 && !isAllSelected() && statustable.selects.length < 10"
                                [matTooltip]="'table_select_all_tooltip' | translate">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="print:hidden column-action-table"
                            [ngClass]="grid.actionCellClass">
                            <mat-checkbox *ngIf="getRow(element)?.selectable" (click)="$event.stopPropagation()"
                                [(ngModel)]="getRow(element)!.select"
                                [disabled]="!getRow(element)!.select && statustable.selects.length >= 10">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let def of grid.columnsDef" [matColumnDef]="def.columnDef">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isDisableSort(def.columnDef)"
                            [ngClass]="[def.headerClass || '', getColumnStyles(def)]" class="text-sm">
                            {{ def.columnName }}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element"
                            [ngClass]="[def.cellClass || '', getColumnStyles(def), def.cellClassRender ? def.cellClassRender(element) : '']">
                            <span *ngIf="!def.cellRender">{{ getValue(element, def.columnDef, def) }}</span>
                            <span *ngIf="def.cellRender" [innerHTML]="getValue(element, def.columnDef, def)"></span>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngIf="hasActions()" [matColumnDef]="getActionsColumnName()">
                        <mat-header-cell *matHeaderCellDef class="column-action-table justify-end print:hidden"
                            [ngClass]="grid.actionHeaderClass">
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-action-table justify-end print:hidden"
                            [ngClass]="grid.actionCellClass">

                            <ng-container *ngIf="grid.groupActions !== false">
                                <ng-container *ngIf="getActionsByElement(element) as actions">

                                    <ng-container *ngIf="actions.length > 1">
                                        <button mat-icon-button [matBadge]="actions.length" matBadgeColor="accent"
                                            matBadgeSize="small" [matTooltip]="'table_action_button' | translate"
                                            [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                                            <mat-icon [svgIcon]="'heroicons_outline:ellipsis-vertical'"
                                                class="bg-transparent"></mat-icon>
                                        </button>
                                        <mat-menu #actionsMenu="matMenu" class="rounded-xl">
                                            <ng-container *ngFor="let action of actions">
                                                <button mat-menu-item (click)="submitAction(action, element, $event)">
                                                    <ng-container *ngIf="action.icon">
                                                        <mat-icon *ngIf="action.icon.includes(':')"
                                                            [svgIcon]="action.icon" class="bg-transparent"></mat-icon>
                                                        <mat-icon *ngIf="!action.icon.includes(':')"
                                                            class="bg-transparent">{{ action.icon
                                                            }}</mat-icon>
                                                    </ng-container>
                                                    <span>{{ action.actionName }}</span>
                                                </button>
                                            </ng-container>
                                        </mat-menu>
                                    </ng-container>

                                    <ng-container *ngIf="actions.length === 1">
                                        <button mat-icon-button [matTooltip]="actions[0].actionName"
                                            (click)="submitAction(actions[0], element, $event)">
                                            <ng-container *ngIf="actions[0].icon">
                                                <mat-icon *ngIf="actions[0].icon.includes(':')"
                                                    [svgIcon]="actions[0].icon" class="bg-transparent"></mat-icon>
                                                <mat-icon *ngIf="!actions[0].icon.includes(':')"
                                                    class="bg-transparent">{{ actions[0].icon
                                                    }}</mat-icon>
                                            </ng-container>
                                            <mat-icon *ngIf="!actions[0].icon" class="bg-transparent"
                                                [svgIcon]="'heroicons_outline:cog-6-tooth'"></mat-icon>
                                        </button>
                                    </ng-container>

                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="grid.groupActions === false">
                                <ng-container *ngFor="let action of getActionsByElement(element)">
                                    <button mat-icon-button [matTooltip]="action.actionName"
                                        (click)="submitAction(action, element, $event)">
                                        <ng-container *ngIf="action.icon; else defaultCogIcon">
                                            <mat-icon *ngIf="action.icon.includes(':')" class="bg-transparent"
                                                [svgIcon]="action.icon"></mat-icon>
                                            <mat-icon *ngIf="!action.icon.includes(':')" class="bg-transparent">{{
                                                action.icon }}</mat-icon>
                                        </ng-container>
                                        <ng-template #defaultCogIcon>
                                            <mat-icon [svgIcon]="'heroicons_outline:cog-6-tooth'"
                                                class="bg-transparent"></mat-icon>
                                        </ng-template>
                                    </button>
                                </ng-container>
                            </ng-container>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="grid.displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: grid.displayedColumns;" class="cursor-pointer"
                        (click)="onClickRowEvent(row)">
                    </mat-row>
                </mat-table>
            </div>

            <div *ngIf="canScrollRight" class="scroll-shadow-zone right-zone animation transition duration-300"
                (mouseenter)="startScrolling('right')" (mouseleave)="stopScrolling()">
            </div>

            <div *ngIf="!isLoading && datasource?.data?.length === 0"
                class="flex flex-col items-center justify-center p-16 bg-white dark:bg-transparent rounded-lg">

                <ng-container *ngIf="hasActiveFilters">
                    <mat-icon svgIcon="heroicons_outline:magnifying-glass"
                        class="!w-20 !h-20 text-gray-300 mb-4"></mat-icon>
                    <span class="text-2xl font-bold text-gray-700 dark:text-gray-200">{{ 'table_no_records_found_title'
                        |
                        translate }}</span>
                    <span class="text-md text-secondary mb-6">{{ 'table_no_records_found_subtitle' | translate }}</span>
                    <button mat-flat-button color="accent" (click)="triggerClearFilters()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                        <span class="ml-2">{{ 'table_clear_filters_button' | translate }}</span>
                    </button>
                </ng-container>

                <ng-container *ngIf="!hasActiveFilters && crud?.crudDef?.cancelInitSearch && !searchPerformed">
                    <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass'"
                        class="!w-20 !h-20 text-gray-300 mb-4"></mat-icon>
                    <span class="text-2xl font-bold text-gray-700 dark:text-gray-200">{{
                        'table_initial_search_prompt_title'
                        | translate }}</span>
                    <span class="text-md text-secondary">{{ 'table_initial_search_prompt_subtitle' | translate }}</span>
                </ng-container>

                <ng-container *ngIf="!hasActiveFilters && (!crud?.crudDef?.cancelInitSearch || searchPerformed)">
                    <mat-icon [svgIcon]="'heroicons_outline:circle-stack'"
                        class="!w-20 !h-20 text-gray-300 mb-4"></mat-icon>
                    <span class="text-2xl font-bold text-gray-700 dark:text-gray-200">
                        {{ 'table_empty_state_title' | translate }}
                    </span>
                    <span class="text-md text-secondary mb-6" *ngIf="canAdd">
                        {{ 'table_empty_state_subtitle' | translate }}
                    </span>
                    <button *ngIf="canAdd" mat-flat-button color="accent" (click)="triggerAdd()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2">{{ 'add_button' | translate }}</span>
                    </button>
                </ng-container>
            </div>

            <mat-paginator #paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                class="border-t bottom-0 fixed print:hidden w-full z-30" [pageSizeOptions]="[10, 25, 50, 100, 500]"
                [showFirstLastButtons]="true" (page)="onPageFired($event)" [hidden]="datasource?.data?.length === 0">
            </mat-paginator>
        </div>
    </div>
</div>