:host {
    display: block;
    width: 100%;
}

::ng-deep {
    .tox-tinymce {
        border: none !important;
        border-radius: 0 !important;
        width: 100% !important;
    }

    .tox .tox-menubar {
        background-color: transparent !important;
    }

    .fullscreen-editor {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 9999 !important;
    }
}

.animate-shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}