<div *ngIf="securityForm" [formGroup]="securityForm">

    <div class="flex mb-6 text-sm">
        {{ 'dev_tools_def_editor_security_subtitle' | translate }}
    </div>

    <ng-template #dashboardInfo>
        <div class="p-4 w-full rounded-lg bg-gray-100 dark:bg-gray-900/30 text-secondary text-center text-sm">
            {{ 'dev_tools_def_editor_security_dashboard_info' | translate }}
        </div>
    </ng-template>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix svgIcon="heroicons_outline:eye"></mat-icon>
            <mat-label>{{ 'dev_tools_perm_read' | translate }}</mat-label>
            <input matInput formControlName="readAccess">
        </mat-form-field>
        <ng-container *ngIf="!isDashboardDef; else dashboardInfo">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-icon matPrefix svgIcon="heroicons_outline:plus-circle"></mat-icon>
                <mat-label>{{ 'dev_tools_perm_create' | translate }}</mat-label>
                <input matInput formControlName="createAccess">
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-icon matPrefix svgIcon="heroicons_outline:pencil-square"></mat-icon>
                <mat-label>{{ 'dev_tools_perm_update' | translate }}</mat-label>
                <input matInput formControlName="updateAccess">
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-icon matPrefix svgIcon="heroicons_outline:trash"></mat-icon>
                <mat-label>{{ 'dev_tools_perm_delete' | translate }}</mat-label>
                <input matInput formControlName="deleteAccess">
            </mat-form-field>
        </ng-container>
    </div>

    <div class="flex justify-end mt-8 pt-6 border-t">
        <button mat-flat-button color="accent" (click)="saveSecurity()"
            [disabled]="securityForm.pristine || securityForm.invalid || isSaving">
            <span class="flex items-center gap-2">
                <mat-progress-spinner *ngIf="isSaving" [diameter]="20" mode="indeterminate"></mat-progress-spinner>
                <mat-icon *ngIf="!isSaving" svgIcon="heroicons_outline:check-circle"></mat-icon>
                <span>{{ 'dev_tools_def_editor_security_save_button' | translate }}</span>
            </span>
        </button>
    </div>
</div>